body {
  background-color: white;
}

#main {
  margin: 0;
}

h1,
#title {
  font-size: 3em;
  font-weight: bold;
}

h3,
label {
  font-size: 16px;
}
/* 
.btn {
  height: 6vh !important;
  font-size: 2.5em !important;
} */

#login,
#register {
  margin: 0;
  width: 120%;
  margin-left: -10%;
  box-shadow: none;
}

/* .glyphicon-lock,
.glyphicon-user,
.input-group > input {
  font-size: 1.3 !important;
}

.input-group,
.input-group > input {
  min-height: 5vh !important;
} */

#headerIcon {
  width: 30vw;
  height: auto;
  margin-left: 20vw;
}

.roomJoin {
  font-size: 16px;
}

#chatBody {
  background-color: white;
  margin-left: -20px;
  margin-right: -20px;
}

#chatHeader {
  font-weight: 700;
}

#messageInput {
  height: 50px;
  font-size: 12px;
}

.message {
  font-size: 3vh;
  max-width: 100%;
  margin-right: 0;
}

.curUser {
  margin-left: 20%;
  max-width: 100%;
}
