body {
	background-color:rgb(49,95,117);
}

#main {
	margin: 0;
	width: 98vw;
	min-height: 100vh;
}

h1 {
	font-family: Impact;
}

#login, #register {
	background-color: white;
	padding: 20px 60px 60px 60px;
	border-radius: 10px;
	margin-top: 5%;
	box-shadow: 0 20px 50px black;
}

#headerIcon {
	width: 50px;
	height: 50px;
}

.btn:focus {
	outline: 0;
}

.uiButton {
	font-family:arial, helvetica, sans-serif; 
	width: 100%;
	color: white;
	background: rgb(0,48,69);
	color:white;
	-webkit-box-shadow:rgb(0, 0, 0) -1px 10px 12px -7px;
	-moz-box-shadow:rgb(0, 0, 0) -1px 10px 12px -7px;
	box-shadow:rgb(0, 0, 0) -1px 10px 20px; 
	font-weight: 600;
	text-shadow: -1px 0 0 #000,
				 0 -1px 0 #000,
				 -1px 0 0 #000,
				 0 1px 0 #000; 
}

#lightBtn {
	text-shadow: none;
	background: rgb(0,100,150);
}

.uiButton:hover, #lightBtn:hover {
	background: rgba(0,48,69, 0.7);
	color: white;
}

#onlineBtn {
	margin: 50px 0 -50px 20px;
}

#chatHeader {
	color: white;
	font-size: 60px;
	margin: 0;
	padding: 20px;
	width: 32%;
	margin: -40px 0 -40px 34%;
	text-shadow: black 8px 8px 8px;
}

h3, label {
	color: white;
	font-family: "Arial Black", Impact, Arial;
}

#online {
	width: 100%;
	height: 600px;
	border: 1px solid #CCC;
	overflow: auto;
	background-color: rgba(255,255,255,0.85);
}

#onlineUser {
	padding: 10px;
	height: 50px;
	font-weight: 700;
	font-size: 20px;
	border: 1px solid #AAA;
	background-color: white;
}

.roomJoin {
	float: right;
	margin-top: -3px;
	font-size: 1vw;
}

#chat {
	width: 100%;
	height: 505px;
	border: 1px solid #CCC;
	overflow-y: auto;
	overflow-x: hidden;
	background-color: white;
}

.messageRow {
	margin-bottom: 20px;
}

.userIcon {
	margin-left: 3%;
}

.sender {
	margin-top: -20px;
}

.message {
	margin-left: -3%;
	padding: 10px;
	border: 1px solid #212121;
	border-radius: 10px;
	max-width: 50%;
	height: auto;
	box-shadow: 5px 5px 10px #888;
	margin-right: 50%;
	word-wrap: break-word;
	position: relative;
	background: #FFF;
	border: 1px solid #000;
}

.message:after, .message:before {
	right: 100%;
	top: 25%;
	border: solid transparent;
	content: " ";
	position: absolute;
	pointer-events: none;
}

.message:after {
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #FFF;
	border-width: 10px;
	margin-top: -10px;
}

.message:before {
	border-color: rgba(0, 0, 0, 0);
	border-right-color: #000;
	border-width: 11px;
	margin-top: -11px;
}

.curUser {
	margin-left: 68%;
	width: 100%;
	box-shadow: -5px 5px 10px #888;
	position: relative;
	background-color:rgb(150, 227, 255);
	border: 1px solid #000;
}

.curUser:after, .curUser:before {
	left: 100%;
	top: 75%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.curUser:after {
	border-color: rgba(255, 255, 255, 0);
	border-left-color: rgb(150, 227, 255);
	border-width: 10px;
	margin-top: -10px;
}
.curUser:before {
	border-color: rgba(0, 0, 0, 0);
	border-left-color: #000;
	border-width: 11px;
	margin-top: -11px;
}

#messageInput {
	height: 50px;
}

#messageForm {
	width: 100%;
	min-height: 100px;
	max-height: 200px;
}